
body {
    background-color: rgb(120, 97, 116);
    /* background-color: linear-gradient(-60deg, rgb(69, 2, 108), rgb(111, 24, 161), rgb(138, 47, 190), rgb(147, 53, 202), rgb(138, 47, 190), rgb(111, 24, 161), gb(69, 2, 108)) */
    color: rgb(55, 40, 70);
    font-family: Verdana, sans-serif;
}

button {
    border-radius: 10px;
    border-color: rgb(103, 84, 172);
    background-color: rgb(118, 106, 164);
    font-size: 18px;
}

.postId {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.post {
    border: 3px solid rgb(120, 97, 116);
    border-radius: 25px;
    /* display: flex; */
    min-height: 200px;
    box-shadow: 0px 5px 15px #444;
    margin: 15px 10px 15px 10px;
    max-width: 850px;
}

.user {
    margin-top: 2%;
    margin-left: 5%;
    font-size: large;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    background-color: rgb(143, 116, 138);
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 4px 10px #444;
    height: fit-content;
    /* height: 20px; */
    font-size: x-large;
}

.response {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.msg {
    /* resize: horizontal; */
    /* height: 40px;
    width: 200px;
    font-size: larger; */
    border-radius: 15px;
    background-color: #999;
    border: 1px solid #444;
    /* border-color: #444; */
}

/* .msg:active {
    width: auto;   
}

.msg:focus {
    min-width: 200px;
} */

input {
    background-color: #999;
    /* color: #fff; */
    border-radius: 10px;
}

.comment {
    height: 20px;
    width: 375px;
}

.msg {
    /* border: 1px solid #ccc; */
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
  }
  
  
  /*  .width-machine {
    padding: 0 1rem;
  } */
  
  .msg {
    display: block;
    width: 300px;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
  }
  
  .msg[contenteditable]:empty::before {
    content: "New Poster";
  }

  .deletePost {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(208, 99, 99);
    /* margin: none; */
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .date {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: small;
  }

  .commentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(143, 116, 138);
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 4px 10px #444;
    min-height: 30px;
    /* height: 20px; */
    font-size: medium;
  }

  .theComment {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue; */
    font-size: larger;
  }

  .singleComment {
    /* border: 1px solid #444; */
    width: 100%;
    border-radius: 12px;
    margin-bottom: 4%;
  }

  .commentUser {
    color: black;
  }